body 
{
background-color: #f1daaf;
margin: 10%;
}

#title {
text-align: center;
text-shadow: 5px 5px 10px rgb(44, 41, 41);
font-size: 8vh;
}

	
img {
display: inline-block;
width: 100%;
}

#caption {
font-size: 30px;
font-family: Gill Sans;
color: rgb(22, 161, 241);
text-align: center;
}

div#tribute-data {
background-color: rgba(95, 158, 123, 0.25);
box-shadow: 20px 20px 20px #9ec79e;
font-family: Georgia;
padding: 25px 25px;
margin: 11px;
margin-top: 50px;
}


h1 {
font-size: 35px;
color: rgb(236, 93, 11);
text-align: center;
text-shadow: 5px 5px 10px rgb(8, 8, 8);
}

#tribute-link {
text-decoration: none;
color: black;
}